<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="Kenya, climate, climate justice, protests, floods" />
  {{if hasmath}} {{insert head_katex.html }}     {{end}}
  {{if hascode}} {{insert head_highlight.html }}   {{end}}
  {{ insert head_mixin.html }}

  {{isdef title}} <title>{{fill title}}</title>  {{end}}
  <meta property="og:type" content="website">
  <meta property="og:title" content="Climate Justice and Solidarity">
  <meta property="og:url" content="https://www.climatejusticesolidarity.nl/floods/">
  <meta property="og:image" content="https://www.climatejusticesolidarity.nl/assets/index/code/home-page.jpeg">
  <meta property="og:description" content="Support the victims of the floods in Kenya">
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-W0TSYVZGXN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-W0TSYVZGXN');
</script>
<body>
  {{insert header.html}}

<!-- Content appended here -->
